* {
	position: relative;
	box-sizing: border-box;
}

body {
    margin: 0;
}

.main-wrapper {
    margin: 0 auto;
    width: 70%;
}

.title-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
}

.notes-holder {
    margin-top: 100px;
    width: 100%;
}

.note-card {
    width: 70%;
    margin: 0 auto;
}