* {
	position: relative;
	box-sizing: border-box;
}

body {
    margin: 0;
}

.main-wrapper {
    margin: 0 auto;
    width: 70%;
}

.title-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
}

.notes-holder {
    margin-top: 100px;
    width: 100%;
}

.note-card {
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(209,235,255,1);
}

.note-card h3 {
    margin: 10px 0px 10px;
    font-size: 25px;
}

.delete-note-btn {
    float: right;
    top: 5px;
    width: 40px;
    height: 40px;
    z-index: 99;
}